h1{
    text-align: center;
}


button{
    padding: 10px;
    margin: 2px;
}

#audioDiv{
    display: flex;
    justify-content: center;
}

#record{
    background-color: red;
    border: solid 2px black;
    margin: 20px;
}

#play{
    background-color: green;
    border: solid 2px black;
    margin: 20px;
}

#save{
    margin: 20px;
    background-color: antiquewhite;
}

#final{
    margin: 20px;
    background-color:lightcoral;
}

#logs{
    text-align: center;
}

